{% extends "template.html" %}
{% block content %}

<form action="_transaction-register" method="POST">
    <h1>CADASTRO DE TRANSAÇÕES</h1>
    <div>
        <div>
            <label for="category">Categoria</label>
            <select name="category" >
                
                {# para iterar sobre o dicionario, precisa de chave e valor = "id, category" #}
                {% for id, category in category_dict.items() %}
                <option value="{{ id }}" required> {{ category.name }}</li>
                {% endfor %}
            </select>
        </div>
        <div>
            <label for="fact_date" class="form-label">Data do Fato</label>
            <input type="date" name="fact_date" required>
        </div>
        <div>
            <label for="payment_date">Data do Pagamento</label>
            <input type="date" name="payment_date" required>
        </div>
        <div>
            <label for="value">Valor</label>
            <input type="number" name="value" placeholder="R$ _,__" required>
        </div>
        <div>
            <label for="description">Descrição</label>
            <input type="text" name="description">
        </div>
        <div>
            <label for="payment_type">Forma de Pagamento</label>
            
            {# o atributo 'name' é passado atraves do 'select' #}
            <select name="payment_type">
                {% for id, payment_type in payment_type_dict.items() %}
                <option value="{{ id }}" required> {{ payment_type.name }}
                {% endfor %}
            </select>

        </div>
        <div>
            <label for="transaction_type" class="form-check-label">Tipo de Transação: </label>
            <input type="radio" name="transaction_type" value="expense" required> Saida
            <input type="radio" name="transaction_type" value="income" required> Entrada
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Cadastrar</button>
</form>

{% endblock %}