{% extends "template.html" %}
{% block content %}

    <h1>LISTAGEM DE TRANSAÇÕES</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Data do Fato</th>
                <th>Data do Pagamento</th>
                <th>Descrição</th>
                <th>Valor</th>
                <th>Forma de Pagamento</th>
                <th>Tipo da Transação</th>
                <th>Categoria</th>
            </tr>
        </thead>

        <tbody>
            {% for transaction in transaction_list %}
            <tr>
                <td>{{ transaction.fact_date }}</td>
                <td>{{ transaction.payment_date }}</td>
                <td>{{ transaction.description }}</td>
                <td>{{ transaction.value }}</td>
                <td>{{ transaction.payment_type.name }}</td>
                <td>{{ "Saida" if transaction.transaction_type == "expense" else "Entrada"  }}</td>
                <td>{{ transaction.category.name }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    

{% endblock %}