{% extends "template.html" %}
{% block content %}

<form action="{{ url_for('_user_recover_password') }}" method="POST">
    <h1>{{ page_title }}</h1>
    <div>
        <label for="birthdate">Digite a data de nascimento do usuario cadastrado</label>
        <input type="date" name="birthdate" value="{{ birthdate }}" required>
    </div>
    <div>
        <label for="email">Digite o email cadastrado</label>
        <input type="email" name="email" value="{{ email }}" required>
    </div>
    <div>
        <label for="password">Digite a nova senha</label>
        <input type="password" name="password">
    </div>
    <div>
        <label for="password_retyped">Digite a nova senha novamente</label>
        <input type="password" name="password_retyped">
    </div>
    <div>
        <button type="submit">Alterar senha</button>
        <a href="{{ url_for('user_login') }}">Voltar para Login</a>
    </div>
</form>

{% endblock %}